name: Deploy to Lolipop (FTP)

on:
  push:
    branches: ["main"]

jobs:
  web-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via FTP/FTPS
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_LOLIPOPSERVER }}
          username: ${{ secrets.FTP_LOLIPOPUSERNAME }}
          password: ${{ secrets.FTP_LOLIPOPPASSWORD }}
          local-dir: ./
          server-dir: ${{ secrets.FTP_LOLIPOPSERVER_DIR }}
